{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header_text %}Login{% endblock %}

{% block login %}
  <div class="aligner">
    <div class="aligner-item card border-primary">
      <div class="card-header">Вход</div>
      <form action="." method="POST">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-group">
            <label>Имя пользователя:</label>
            <input type="text" name="username" placeholder="Введите логин">
          </div>
          <div class="form-group">
            <label>Пароль:</label>
            <input type="password" placeholder="Введите пароль" name="password">
          </div>
          <input type="submit" name="submit" value="Войти">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
