/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header */
header {
    padding: 20px 0;
    margin: 0 0 40px 0;
    background: #5778C4;
    color: #fff;
}

header h1 {
    max-width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

header a {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}

/* Body */
section {
    width: 800px;
    margin: 0 auto;
}

p {
    margin: 1em 0 2em 0;
}

.empty {
    color: #666;
    font-style: italic;
}

.rooms li {
    padding: 5px 7px;
    background: #def;
    margin: 5px 2px;
    border: 1px solid #bcd;
    border-radius: 2px;
    cursor: pointer;
}

.rooms li.joined {
    background: #5898D9;
    border: 1px solid #35485C;
}

#chats .room {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 30px 0 0 0;
}

#chats h2 {
    color: #333;
    margin: 2px 0 5px 0;
    font-weight: bold;
}

#chats .messages {
    height: 200px;
    overflow: auto;
    background: #eee;
    margin: 2px 0 5px 0;
}


#chats .roomid {
    display: inline-block;
    color: #C07A36;
    width: 100px;
    font-weight: bold;
}

#chats .username {
    display: inline-block;
    color: #C07A36;
    width: 100px;
    font-weight: bold;
}

#chats .contextual-message {
    text-align: center;
    margin: 5px 5px 5px 5px;
}

#chats .text-muted {
    opacity: .6;
    font-style: italic;
}

#chats .text-danger {
    color: #a94442;
    font-weight: bold;
}

#chats .text-warning {
    color: #DCAD5C;
    font-weight: bold;
    font-style: italic;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.aligner-item {
    max-width: 50%;
}


.card {
  background-color:#fff;
  background-clip:border-box;
  border:1px solid rgba(0,0,0,.125);
  border-radius:.25rem
}

.border-primary {
   border-color:#007bff;
}

.card-header {
   padding:.75rem 1.25rem;
   margin-bottom:0;
   background-color:rgba(0,0,0,.03);
   border-bottom:1px solid rgba(0,0,0,.125);
}

.card-body {
    padding:1.25rem;
}

.form-group {
    margin-bottom:1rem
}

aside {
	float: left;
	width: 250px;
	padding-bottom: 50px;
}

section {
    max-width: 70%;
	margin-left: 270px;
	padding-bottom: 50px;
}

#wrapper {
	max-width: 80%;
	margin: auto;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #008CBA;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.data, .id_device, .id_equipment {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 8px 0;
}

.send {
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send:hover {
    background-color: #45a049;
}
