<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href='{% static "css/main.css" %}' type="text/css" />  <!-- media="screen" -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block login %}
    {% endblock %}
    {% block header %}
    {% endblock %}
    <div id="wrapper">
        <aside>
            {% block sidebar %}
            {% endblock %}
        </aside>
        <section>
          {% block content %}
          {% endblock %}
        </section>
    </div>
    {% block extra_body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>
