{% extends "base.html" %}

{% block title %}Регион24 - Система контроля и управления{% endblock %}
{% block header %}
  <header>
    <h1>Регион24 - Система контроля и управления</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
  </header>
{% endblock %}

{% block sidebar %}
    <div class="container">
        <ul class="rooms">
            {% for room in rooms %}
                <li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>
            {% empty %}
                <p class="empty">No rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block content %}
  <div class="container">
    <div id="chats">
    </div>
  </div>
{% endblock %}
